.test{
  color:#D6ADFF;
  color:#c792ea;
  color:#AC5FE3;
  color:darkorchid;
  color:#8806CE;
  color:#ffcb8b;
  color:#EF5350;
  color:#22da6e;
  color:#addb67;
  color:#011627;
  color:#80a4c2;
  color:#82AAFF;
  color:#b2d5ee;
  color:#BEDDF3; 
  color:#8B4513;
}
