.node {
  width: 25px;
  height: 25px;
  display:inline-block;
  outline: 1px solid #80a4c2;
  margin: 0 1px 1px 0;
}

.node-end {
  background-color: #EF5350;
}

.node-start {
  background-color: #22da6e;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration:1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  
  0% {
    transform: scale(0.6);
    background-color:#8806CE;
    border-radius: 100%;
  }

  50% {
    background-color:#D6ADFF;
  }

  75% {
    transform: scale(1.2);
    background-color:#AC5FE3;
  }

  100% {
    transform: scale(1);
    background-color: #BEDDF3; 
    /* #7fdbca; */
    /* #C5E4FD; */
    
  } 
}

.node-wall {
  background-color: #8B4513;
  /* animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: wallAnimation; */
}

/* @keyframes wallAnimation {
  0%   {
    transform: scale(0);
    background-color: rgb(12, 53, 71);
  }

  
  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
} */


.node-shortest-path {

  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #D6ADFF;
  }

  50% {
    transform: scale(1.2);
    background-color: #AC5FE3;
  }

  100% {
    transform: scale(1);
    background-color: darkorchid;
    /* #c792ea; */
  }
}